/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f9f9f9;
}

/* Sidebar styling */
.sidebar {
  width: 300px;
  background-color: #f3f3f3;
  border-right: 1px solid #ddd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0; /* Remove padding */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Sidebar title bar styling */
.sidebar-title-bar {
  height: 25px; /* Match control panel height */
  width: 100%; /* Ensure it takes full width */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #205999;
  display: flex;
  align-items: center;
  padding-left: 10px; /* Add padding to the left */
  margin-top: 15px; /* Move the title bar down from the top */
}

.sidebar-title-bar .buttons {
  display: flex;
  margin-right: 10px;
}

.sidebar-title-bar .buttons img {
  width: 8px; /* Adjust icon size */
  height: 8px; /* Adjust icon size */
  cursor: pointer;
  margin-right: 5px;
}

.sidebar-title-bar .title {
  font-family: 'Roboto', sans-serif;
  font-size: 17px; /* Match control panel font size */
  color: #444444; /* Match control panel color */
  font-weight: 510; /* Match control panel font weight */
  text-align: left;
  margin-top: 5px; /* Move the title down from the top */
}

/* Main content styling */
.content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
}

.sidebar li a:hover {
  color: #007bff;
}

